<mat-card id="page-content" class="my-card text-center">
  <h1  class="text-center"><span>login</span></h1>
  <mat-card-content>

    <form #form="ngForm" class="my-form" (submit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" placeholder="Email" name="email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password" [(ngModel)]="user.password" placeholder="Password"  name="password" required>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button [disabled]="form.invalid" type="submit" color="primary">login</button>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>


