
<form  #form="ngForm" (submit)="submit()" style="width:400px;margin:0 auto">
  <div class="form-group">
    <label for="productId">Product Id</label>
    <input type="text"  [(ngModel)]="product.productId" name="productId" class="form-control" id="productId"  placeholder="Enter Product Id" required>
  </div>
  <div class="form-group">
    <label for="productName">product name</label>
    <input type="text" [(ngModel)]="product.productName" name="productName" class="form-control" id="productName" placeholder="product name" required>
  </div>
  <div class="form-group">
    <label for="productCode">product code</label>
    <input type="text" [(ngModel)]="product.productCode" name="productCode" class="form-control" id="productCode" placeholder="product code" required>
  </div>
  <div class="form-group">
    <label for="productDate">product date</label>
    <input type="date" [(ngModel)]="product.releaseDate" name="releaseDate" class="form-control" id="productDate" placeholder="product date" required>
  </div>
  <div class="form-group">
    <label for="productDescription">product description</label>
    <input type="text" [(ngModel)]="product.description" name="description" class="form-control" id="productDescription" placeholder="product description" required>
  </div>
  <div class="form-group">
    <label for="productPrice">product price</label>
    <input type="text" [(ngModel)]="product.price" name="price" class="form-control" id="productPrice" placeholder="product price" required>
  </div>
  <div class="form-group">
    <label for="productRating">product rating</label>
    <mat-slider type="range" thumbLabel min=0 max=5 [(ngModel)]="product.starRating" name="starRating" class="form-control" id="productRating" placeholder="product rating" required></mat-slider>
  </div>
  <div class="form-group">
    <label for="productImgUrl">product image url</label>
    <input type="file" [(ngModel)]="product.imageUrl" name="imageUrl" class="form-control" id="productImgUrl" placeholder="product image url" required>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
</form>

